body{
    background-color: aliceblue;
    font-size: medium;
}
.about{
    font-size: small;
    background-color: aqua;
    padding: 10px;
}
.bio{
    
}
.Education{

}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    gap:1rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.projects {
background-color: lightblue;
height: 100vh;
}